.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 12px;
  /* background-color: #959CFC; */
}
.header-login {
  display: flex;
  flex-direction: column;
  margin-top: 90px !important;
  margin-bottom: 10px !important;
  text-align: center ;
}

.img-login {
  height: 10vh ; 
  border-radius: 4px;
  margin-top: 30px;
  margin: 0 auto;}

.links:hover {
 cursor: pointer;
}
.header-login > h1{
  font-size: 20px;
  font-family: gameOverFont;
  font-weight: 100;
}