.img-Product-productPage {
    height: 100px;
}
.slider {
 display: flex;
 justify-content: center;
 margin-top: 20px;
}
.profileImage {
    height: 80px;
    border-radius: 50%;
    align-self: center;
    margin: 7px;
}
.productPage-container {
    max-width: 70vh;
    margin: 0 auto;
    padding: 12px;
  
    /* background-color: #959CFC; */
  }

.favorites-views {
    display: flex;
    border-bottom: 2px solid rgb(228, 228, 228);
    width: 90%;
    margin: auto;
}
.reportP{
    font-size: 15px;
margin: 0px;
position: relative;
top: 2px;
left: 2px;}
.visibility {
    flex-grow: 1;
    border: 0;
}
.FavoriteComponent{
    position: relative;
    top: 5px;
}
.favorites-views
.user-card{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.user-card:hover{
    background-color: rgb(251, 249, 245);
}

.name-rating{
    align-self: center;
    flex-grow: 1;
}
.button-contacta{
    height: 2rem;
    align-self: center;

}
.buttons-user-card {
    margin: 5px;
}
.cabeceraProduct{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: rgb(241 248 255);
    border-radius: 5px;
    margin: 5px;
}
.cabeceraProduct > .price{
    margin: 20px;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.cabeceraProduct > .price > h1{
    font-size: 20px;
    
    margin:0px
}
.cabeceraProduct > .price > p{
    margin: 0px;
    font-size: 15px;
}
.cabeceraProduct >h2{
    width: 60%;
    font-size: 20px;
    margin: 10px;
}
.buttons-user-card{
    padding: 10px;}