@font-face {
  font-family: gameOverFont;
  src: url(../../assets/Welbut__.ttf);
}
.my-orders-container {
  display: flex;
}

.order-container {
  background-color: rgb(255, 255, 255);
  color: #222;
  /* padding: 25px; */
  margin: 10px auto;
  max-width: 75%;
  border-radius: 5px;
  /* border: solid 2px #05114929; */
  font-family: gameOverFont;
}

/* .order-product-info {
  border: 1px solid black;
  text-align: left;
  padding: 5px;
} */

.order-product-info {
  padding: 10px;
}

.order-product-title {
  color: rgb(0, 0, 110);
}

.order-info {
  text-align: left;
  border: 3px solid #05114929;
  padding: 15px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.order-status {
  color: rgb(234, 0, 255);
  position: absolute;
  transform: rotate(45deg);
  right: 15px;
  top: 45px;
}

.my-orders-div {
  margin-left: 200px;
  flex-grow: 1;
  background-color: #f1f8ff;
}

.my-orders-div > h1 {
  color: #051149;
  background-color: white;
  position: sticky;
  top: 77px;
  padding: 20px;
  border: solid 2px #05114929;
  border-radius: 5px;
  margin-top: 0px;
  font-family: gameOverFont;
  z-index: 12000;
}

.paper-myOrders-container {
  margin: 0 auto;
  /* width: clamp(400px, 50vw, 800px); */
  max-width: 700px;
  padding: 25px 0;
  position: relative;
  margin-bottom: 25px;
}

.order-fecha {
  text-align: center;
  padding-bottom: 10px;
}

.order-mensaje-enviado {
  /* background-color: #05114929; */
  background-color: #d4eaff;
  padding: 10px;
  width: 150px;
  border-radius: 25px 25px 0 25px;
  font-size: 0.9rem;
  margin-bottom: 10px;
  align-self: flex-end;
}

.order-mensaje-vendedor {
  background-color: #ffe6f9;
  padding: 10px;
  width: 150px;
  font-size: 0.9rem;
  margin-bottom: 10px;
  border-radius: 25px 25px 25px 0;
}

@media (max-width: 600px) {
  .my-orders-div {
    z-index: 1100;
    margin-left: 50px;
  }
}
