.my-orders-container{
  display: flex;
}

.order-container {
  background-color: whitesmoke;
  color: #222;
  padding: 25px;
  margin: 10px auto;
  max-width: 75%;
}

.order-product-info {
  border: 1px solid black;
  text-align: left;
  padding: 5px;
}

.order-product-title {
  color: blue;
}

.order-info {
  text-align: left;
}

.order-status {
  text-align: right;
  color: blue;
}
.my-orders-div {
  margin-left: 200px;
  flex-grow: 1;
}

h1{color: black;}

@media (max-width: 600px) {
  .my-orders-div{
      z-index: 1100;
  margin-left: 50px;
  background-color: rgb(228, 241, 255);}
  }
  