@font-face {
  font-family: gameOverFont;
  src: url(../../assets/Welbut__.ttf);
}
.my-orders-container{
  display: flex;
}

.order-container {
  background-color: rgb(255, 255, 255);
  color: #222;
  padding: 25px;
  margin: 10px auto;
  max-width: 75%;
  border-radius: 5px;
  border: solid 2px #05114929;
}

.order-product-info {
  border: 1px solid black;
  text-align: left;
  padding: 5px;
}

.order-product-title {
  color: blue;
}

.order-info {
  text-align: left;
}

.order-status {
  text-align: right;
  color: blue;
}
.my-orders-div {
  margin-left: 200px;
  flex-grow: 1;
  background-color: #f1f8ff;
}

.my-orders-div > h1{color: #051149;
  background-color: white;
  position: sticky;
  top:  78px;
  padding: 20px;
  border: solid 2px #05114929;
  border-radius: 5px;
  margin-top: 0px;
 font-family: gameOverFont;}

@media (max-width: 600px) {
  .my-orders-div{
      z-index: 1100;
  margin-left: 50px;
  }
  }
  