.landing-container {
    width: 70vh;
    margin: 0 auto;
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.product-card-container{
    display: flex;
    overflow-x: scroll;
    align-self: center;
    margin-bottom: 10px;
}

.product-card {
   max-width:300px;
    max-height: 500px;
    margin: 5px;

}
.product-card:hover{
    background-color: rgb(246, 243, 238);
}
.product-card-header{
    display: flex;
    align-self:flex-start;
}
.title-product-card{
    flex-grow: 1;
}
