.header-Editar {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.img-register {
  width: 40%; 
  border-radius: 4px;
  margin-top: 20px;
  margin: 0 auto;
}
.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 12px;
  /* background-color: #959CFC; */
}
.field-container {
  min-height: 80px;
  margin: 10px;
}

.recaptcha {
  text-align: center;
}
.recaptcha > div > div > div{
  margin: 0 auto;
}
.button-submit-container{
  margin: 20px 0px 15px 0px;
}
.header-register{
  flex-direction: column;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  text-align: center ;
}
.goBack-button{
  position: fixed;
  top:100px
}
.header-register > h1{
  font-size: 20px;
  font-family: gameOverFont;
  font-weight: 100;
}
