

.css-yz9k0d-MuiInputBase-input{
    padding-left: 10px !important;
    
}
.css-96uuyl{
    margin-left: 10px !important;
}
.search-icon{
    height: 25px;
}
.small-logo:hover {
    cursor:pointer;
    background-color: #263464;
    
}
.small-logo {
    margin: 0;
    height: 60px;
    border-radius: 50%;
}
