.my-products-container {
    display: flex;
}
.my-products-div {
    margin-left: 200px;
    flex-grow: 1;
}
@media (max-width: 600px) {
.my-products-div{
    z-index: 1100;
margin-left: 50px;
background-color: rgb(228, 241, 255);}
}
