.grid-product{
    display: flex;
    background-color:#4A4D75 ;
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: space-around;

}
.grid-product:hover{
    background-color:#525477 
}
.img-grid {
 height: 120px ;
 margin-right: 20px;
}
.productGrid-card-container{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
   max-width: 90%;
   margin: 0 auto;

}

.productGrid-card-container > div  > p
    {
        margin-right: 0px;
        margin: 0px;
        font-weight: 500;
        padding: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 125px;
      font-size: 15px;
    }
    .productGrid-card-container > div{
        width: 145px;
    }
    .productGrid-card-container > div > img{
        width: 145px;
        height: 145px;
    }