.profile {
  text-align: left;
  display: flex;
}

.profile-paper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 200px;
  width: 50%;
  flex-grow: 1;
}

.buttons-container-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}

.buttons-container-profile button {
  padding: 10px 20px;
  background-color: tomato;
  border: 2px solid #222;
  border-radius: 4px;
  min-width: 145px;
}

.buttons-container-profile button:active {
  background-color: #222;
}

@media (max-width: 600px) {
  .profile-paper{
      z-index: 1100;
  margin-left: 50px;
  background-color: rgb(228, 241, 255);}
  }