.profile {
  text-align: left;
}

.profile-paper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 50vw;
  height: 200px;
}

.buttons-container-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}

.buttons-container-profile button {
  padding: 10px 20px;
  background-color: #d96bdd;
  border: 2px solid #222;
  border-radius: 4px;
  min-width: 145px;
}

.buttons-container-profile button:active {
  background-color: #222;
}
