.header-settings{
    display: flex;
    justify-content: space-around;
    background-color: white;
    
    margin:0 auto;
    padding: 5px;
}
.header-register {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
  }

.img-settings {
    height: 130px;
    border-radius: 50%;
}
.settings-container{
    display: flex;
    height: 100%;

}
.settings-target {
    width: 100% ;
    margin-left: 200px;


    /* background-color: #959CFC; */
  }
.settings-target > div {
    color: black;
    background-color: #f1f8ff;
    padding: 10px
}

.settings-paper {
    padding: 12px;
}
@media (max-width: 600px) {
    .settings-target{
        z-index: 1100;
    margin-left: 50px;
    background-color: rgb(228, 241, 255);}
    }