.upload-product-form {
  max-width: 480px;
  margin: 0 auto;
  padding: 12px;
  background-color: #959cfc;
  flex-grow: 1;
}

.titulo-producto {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.go-back {
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: flex-start;
}

.titulo-prducto {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  border: 12px;
  justify-content: space-evenly;
}

.titulo-precio {
  display: flex;
  flex-direction: row;
}

.estado-localidad {
  margin-top: 12px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img-preview {
  height: 50px;
  margin-top: 20px;
}
.img-container-preview {
  display: flex;
  justify-content: center;
}
.div-imformacion {
display: flex;
justify-content: center;
}
.main-upload-product{
  display: flex;
  margin-bottom: 20px;
}
ul{
  height: 25vh;
}