.userProfile-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
.header-userProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    height: 200px;
}
.data-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin:10px;
    padding: 10px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(90deg, white, #e4f1ff, #e4f1ff,#e4f1ff,#e4f1ff,#e4f1ff,white) 1;
}

.data-card:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.align-moment {
    text-align: end;
}
.header-userProfile > div > div{
    padding: 10px;
    border-radius: 50%;
    position: relative;
    top: -30px;
    left: 20px;
    width: 100px;
    height: 100px;
}
.header-userProfile > div > div > img{
    border-radius: 50%;
    border: 5px solid #e4f1ff;
}
.header-userProfile > div > p{
    margin: 10px;
}
.background-user-profile-page{
    background-color: #f1f8ff;
}
.main-user > div > div > img{
    border-radius: 50%;
    position: relative;
    top: -30px;
    left: -10px;
    width: 60px;
    height: 60px;
    border: 5px solid #e4f1ff;
}
.opinion{
    font-size: 12px;
}
main > div > div > div>h2{
    margin: 5px;
}
.moment-product{
    margin-bottom: 5px;
} 
.ha-puntuado{
    font-weight: 375;
    font-size: 17px;
}
.user-page-subtitle{
    background: linear-gradient(90deg, white, #e4f1ff, #e4f1ff,#e4f1ff,#e4f1ff,#e4f1ff,white);
}