.header-principal{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    position: sticky;
    top:0;
    width: 100%;
    z-index: 2;
    
}
.small-logo {
    margin: 0;
    height: 60px;
}
.small-logo:hover {
    cursor:pointer;
    background-color: blanchedalmond;
}

.header-principal > div{
    display: flex;
}
.header-principal > div > input {
    border: none;
    padding: 5px;
    margin: 10px;
}
.header-principal > div > button{
    border: none;
    background-color: transparent;
    
}
.header-principal > div > button > img{
    height: 20px;
}