.my-reviews-container{
    display: flex;
}
.my-reviews-div {
    margin-left: 200px;
    flex-grow: 1;
}
@media (max-width: 600px) {
    .my-reviews-div{
        z-index: 1100;
    margin-left: 50px;
    background-color: rgb(228, 241, 255);}
    }