.view-images {
  flex-direction: row;
  margin: 20px;
  margin-top: 30px;
}

.container-icon {
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 70px;
  width: 70px;
}
