.my-favorites-div{

    flex-grow: 1;
    background-color: #f1f8ff;
}
.my-favorites-div > h1 {
    color: #051149;
    background-color: white;
    position: sticky;
    top:  78px;
    padding: 20px;
    border: solid 2px #05114929;
    border-radius: 5px;
    margin-top: 0px;
   font-family: gameOverFont;
}
.my-favorites-div > button {
    position: fixed;
    top: 100px;
}