.tapBar-navigation{
    display: flex;
    justify-content: space-around;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    
    align-items: center;
    border-top: rgba(24, 16, 61, 0.315) inset 1px;
    z-index: 10000;
    
}

.favorite-icon {
    color: #ffffff;
    margin: 10px;
    font-size: 40px !important;

}

.home-icon {
    color: #ffffff;
    margin:10px;
    font-size: 40px !important;
}

.login-icon {
    color: #fbaefd;
    margin: 10px;
    font-size: 40px !important;
    border: #fdb8ff outset 5px;
    border-radius: 50%;
}

.add-icon {
    color: #ffffff;
    margin: 10px;
    font-size: 40px !important;
}

.img-tapbar {
    height: 30px;
    margin: 10px;
    border-radius: 50%;
    border: #fdb8ff outset 5px;
    
}

.homeIcon{
    height: 30px;
    padding: 10px;
}
.heartIcon{
    height: 35px;
    padding: 10px;
}
.addIcon{
    height: 32px;
    padding: 10px;
}

@media (min-width: 900px) {
    .tapBar-navigation{display: none}
}