.productsGrid{
    background-color: rgb(228, 241, 255);
    padding-top: 180px;
}
.divFilters{
    display: flex;
    margin-right: 1;

    
    max-height: 90px;
}
.buttoms-filters{
    display: flex;
    flex-grow: 1;
    justify-content:space-evenly;
}

.divFilters > div{
    margin: 10px;
}

.buttoms-filters > button > p {
    font-size: 8px;
    font-weight: bold;
}
.classActive{
    color: #992b9c !important;
    background:radial-gradient( #fedbff, #fee8ff, white, white);
}