.productsGrid{
    background-color: #f1f8ff;
    padding-top: 150px;
}
.divFilters{
    display: flex;
    margin-right: 1;

    
    max-height: 90px;
}
.buttoms-filters{
    display: flex;
    flex-grow: 1;
    justify-content:space-evenly;
}

.divFilters > div{
    margin: 10px;
}

.buttoms-filters > button > p {
    font-size: 8px;
    font-weight: bold;
}
.classActive{
    color: #992b9c !important;
    background:radial-gradient( #fedbff, #fee8ff, white, white);
}
.FavoriteComponent > button {
    position: relative;
    right: 10px;
}
.title-product-card{
    font-size: 18px !important;
    position: relative !important;
    top: 8px
}
.product-card-header{
    padding-bottom: 8px
}
.productGrid-card-container > div > p {
    font-size: 18px !important;
}