.productsGrid{
    background-color: rgb(228, 241, 255);
    padding-top: 180px;
}
.divFilters{
    display: flex;
    margin-right: 1;

    
    max-height: 90px;
}
.buttoms-filters{
    display: flex;
    flex-grow: 1;
    justify-content:space-evenly;
}