.App {
  text-align: center;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 70px;
}

.App > div {
  flex-grow: 1;
}
h1, h2{
  font-family: gameOverFont;
  font-weight: 400;
}